{% extends 'dashboard/base.html' %}
{% load static %}

{% block body %}
<div class="col-md-8 col-sm-5 col-xs-5">
    <div id="content" class="p-6 p-md-5 pt-5">
        <div class="col-md-12 col-sm-12 col-xs-10">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-primary"></i>
                   remplir les informations  du livre 
                </div>
                <div class="card-body">
                    <form action="{% url 'aabook' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <div class="col">
                                <input type="text" class="form-control" name="titre" placeholder="titre du livre" required="required">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col">
                                <input type="text" class="form-control" name="autheur" placeholder="autheur" required="required">
                            </div>                 
                        </div>

                        <div class="form-group">
                            <div class="col">
                                <input type="text" class="form-control" name="publicateur" placeholder="Publicateur" required="required">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col">
                                <input type="text" class="form-control" name="year" placeholder="date de Publication " required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col">
                                <input type="text" class="form-control" name="description du livre" placeholder="description du livre" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col">
                                <label>choisir la  couverture</label>
                                <input type="file" id="myFile" name="couverture" placeholder="Attachment" enctype="multipart/form-data">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col">
                                <label>choisir un livre  pdf</label>
                                <input type="file" id="myFile" name="pdf" placeholder="Attachment" enctype="multipart/form-data">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">ajouter maintenant</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
